body {
    margin: auto;
    max-width: 1152px;
    min-width: 220px;
}

nav {
    display: flex;
    background-color: white;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
}

li a {
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    flex-direction: right;
}

li a:hover:not(.active) {
    background-color: grey;
}

.brand-name {
    background-color: #e19999;
}

section {
    background-color: grey;
    display: flex;
    justify-content: center;
}

.circle {
    background-color: #e19999;
    width: 210px;
    height: 210px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50%;
}

main {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.column1 {
    flex: 2 200px;
    margin-right: 25px;
}

.column2 {
    flex: 3 200px;
}

.box {
    width: 273px;
    height: 129px;
    background-color: gray;
    /*flex:1;*/
    margin: auto;
}
